<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <video src="../img/login-video.mp4" autoplay muted loop></video>
   <!--  <nav>
        <img class="nav__logo" src="../img/whitelogo.png" alt="">
        <div class="nav__enlaces">
            <a href="../index.html">Mi cuenta</a>
            <a href="#">Compartir</a>
        </div>
    </nav> -->
    <main>
        <section class="login">
            <img src="../img/logo.png" alt="">
            <input type="text">
            <input type="text">
            <a href="../index.html"><button>INGRESAR</button></a>
        </section>
    </main>
</body>
</html>